@font-face {
    font-family: Gumball;
    src: url('Fonts/Gumball.TTF');
}

body {
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.start-button {
    font-family: 'Gumball', sans-serif;
    font-size: 48px;
    padding: 20px 60px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 0 0 10px #fff;
}

.start-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #fff;
}

.start-button:active {
    transform: scale(1.05);
    box-shadow: 0 0 15px #fff;
}

.black-background {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
